body{
    background-color: blue;
}
h1{
    text-align: center;
}
form{
    background-color: rgb(167, 185, 243);
    margin:50px;
    padding: 20px 0px;    
}
label, h2, input, h4, select, textarea, .button{
    display: block;
    margin:10px;
    margin-left: 25px;
    padding: 4px;
}
.questions {
    display: block;
}
li{
    list-style: none;
    display: flex;
}