.b1{
    background-image: url("https://img.freepik.com/free-vector/bokeh-defocused-background_23-2148497833.jpg?w=900&t=st=1716882376~exp=1716882976~hmac=6b8d45728ab4681d8e13885c47230fadbd7a3f53ce1bb7088993f3da65073196");
    background-repeat:repeat;
    text-align:center;
}
.b2{
    background-image: url("https://images.pexels.com/photos/845405/pexels-photo-845405.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat:repeat;
    background-size: 200px 300px;
    backdrop-filter: blur(4px);
    text-align:center;
}
h1{
    font-family: sans-serif;
}
h3{
    font-family: 'Times New Roman';
}
p{
    font-family: Lucida Sans;
}
button{
    background-color:rgb(177, 132, 241);
    width: 180px;
    height: 50px;
}
a{
    text-decoration: none;
    font-weight: bold;
}
button:link{
    background-color: brown;
}
button:active{
    background-color: yellow;
}
button:hover{
    background-color: aqua;
}
button:visited{
    background-color: rgb(30, 210, 75);
}